<section id="footer">
  <section class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <h2>subscribe</h2>
          <p>mailing list</p>
        </div>
        <div class="col-md-4">
          <h2>instagram</h2>
          <p>feed preview</p>
          <div id="pixlee_container"></div>
          <script type="text/javascript">
            window.PixleeAsyncInit = function () {
              Pixlee.init({
                apiKey: "Q7DFcq_57fq4lkH-Dzv1",
              });
              Pixlee.addSimpleWidget({
                widgetId: "27920",
              });
            };
          </script>
          <script src="//instafeed.assets.pxlecdn.com/assets/pixlee_widget_1_0_0.js"></script>
        </div>
        <div class="col-md-4">
          <h2>contact</h2>
          <p>phone and email</p>
        </div>
      </div>
    </div>
  </section>
</section>
