<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" />
    {% include fonts.html %}
    <link rel="stylesheet" href="css/styles.css" />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.12.0.min.js"
    ></script>
    {% include bootstrap.html %}
  </head>

  <body>
    {% include navigation.html %} 
    {{ content }} 
    {% include call-to-action.html %} 
    {% include footer.html %}
  </body>
</html>
